@using DutyManager.Models
@model Employee

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group m-3">
        @Html.EditorFor(model => model.EmployeeId, new { @class = "visually-hidden" })
        <div class="row">
            <div class="col-md-10">
                <p>
                    Вы действительно хоте удалить <br/><b>@Html.DisplayFor(model => model.FullName)</b>?
                </p>
            </div>
            <div class="col-md-1 offset-md-1">
                <button type="button" data-bs-dismiss="modal" class="btn-close" aria-label="Закрыть"></button>
            </div>
        </div>

        <fieldset>
            <div class="form-group col-md-12 mb-0 pe-0 text-end">

                <input asp-controller="Home" asp-action="EmployeeDel" class="btn btn-danger" type="submit" value="Удалить" />
            </div>
        </fieldset>
    </div>
}