@using DutyManager.Models
@model Employee

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.EditorForModel()
            <fieldset>
                <input type="submit" value="Изменить" />

            </fieldset>

        }
    </div>
</div>