<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    @*<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/beb727a5bd.js" crossorigin="anonymous"></script>
    @*<script src="~/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


</head>
<body>
    <header class="p-2 bg-info text-white">
        <div class="container">
            <div class="d-flex ">

                <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <form class="row" asp-controller="Home" asp-action="Calc" method="post" novalidate="novalidate">

                        <div class="col-4">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="Необходимо выбрать день" type="date" name="BeginDate" id="BeginDate">
                        </div>
                        <div class="col-4">
                            <input class="form-control text-box single-line" data-val="true" data-val-required="Необходимо выбрать день" type="date" name="EndDate" id="EndDate">
                        </div>

                        <fieldset class="col-4">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <input asp-controller="Home" asp-action="Calc" class="btn btn-warning" type="submit" value="Расчет">
                                <a asp-controller="Home" asp-action="Export" class="btn btn-success">Экспорт</a>
                            </div>
                        </fieldset>
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8LtfjinslVFFlI001yujlry51-Ab_8SC3P_cFPYcui_lTrtNJ1mAUTOtEf5UTm-w24KutFs03WYhMlsVxsDjCoKC7eMFI0Nal5SYeSFfkEEEwt8nj5_zyk6bdg8jsis-eCcS6t_QGu5r294qMGtmr4c">
                    </form>
                </div>

                <div class="text-end" id="navheader">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-light me-2" id="navbarIndex">Главная</a>
                    <a asp-controller="Home" asp-action="ListEmployee" class="btn btn-outline-light me-2" id="navbarEmployees">Сотрудники</a>
                    <a asp-controller="Home" asp-action="ListWorkdays" class="btn btn-outline-light me-2" id="navbarWorkdays">Дежурства</a>
                    <a asp-controller="Home" asp-action="ListHolidays" class="btn btn-outline-light me-2" id="navbarHolidays">Отпуска</a>
                    <a asp-controller="Home" asp-action="ListRoster" class="btn btn-outline-light me-2" id="navbarRoster">Параметры</a>
                    <a href='#' type="button" class="btn btn-outline-success me-0">Help</a>

                </div>
            </div>
        </div>
    </header>

    <div class="container h-100">
        @RenderBody()
    </div>
    <script src="~/js/Layout.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
