@*@model string
<div class="col-md-4">
    <label for="validationCustom01" class="form-label">@Model.</label>
    <input type="text" class="form-control" id="validationCustom01" value="@Model.FullName" required>
    <div class="valid-feedback">
        Все хорошо!
    </div>
</div>*@